@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$gray-color: #4A4A4AB8;
$lightblue-color: #31C2E4;
$white-color: #ffff;

%background-settings {
    background-repeat: no-repeat;
    background-size: contain;
}

%font400 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

%font500 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
}

%font600 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

%nav-text {
    @extend %font400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: $gray-color;
}

%button {
    width: 151px;
    height: 34px;
    border-radius: 13.0536px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
}

%hs-logo {
    background-image: url(./images/hs-logo.svg);
    @extend %background-settings;
    width: 226px;
    height: 28px;
}

%input-settings {
    background: $white-color;
    border: 2px solid rgba(74, 74, 74, 0.2);
    border-radius: 10px;
    @extend %font400;
    font-size: 11px;
    padding-left: 25px;
}

%white-text-btn {
    @extend %font600;
    color: $white-color;
}

%button2 {
    background: $lightblue-color;
    border-radius: 10px;
    cursor: pointer;
}

%task-footage {
    background-image: url(./images/tasks-footage.svg);
    @extend %background-settings;
    width: 700px;
    height: 500px;
}

%df-column {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}


//main page

.main-header {
    display: flex;
    margin: 35px 52px;

    .hs-logo {
        @extend %hs-logo;
    }

    .active-buttons {
        width: 100%;
        margin-left: 400px;
        display: flex;
        justify-content: space-between;

        .nt-slider {
            background-image: url(./images/switch.svg);
            @extend %background-settings;
            width: 90px;
            height: 30px;
            cursor: pointer;
        }

        .contact,
        .lang-select {
            @extend %nav-text;
            cursor: pointer;
        }

        .registration {
            cursor: pointer;
            @extend %button;
            background-color: $lightblue-color;
        }

        .login {
            cursor: pointer;
            @extend %button;
            border: 2px solid $lightblue-color;
        }

        .reg {
            @extend %font600;
            margin-left: 45px;
            padding-top: 3.5px;
            font-size: 16px;
            color: $white-color;
        }

        .log {
            @extend %font600;
            margin-left: 54px;
            margin-top: 3.5px;
            font-size: 16px;
            color: $lightblue-color;

        }
    }
}

.main-page {
    position: relative;

    .main-section {
        display: flex;
        margin: 0px 52px;

        .reg-bar {
            margin-top: 120px;

            .info-title {
                @extend %font600;
                font-size: 30px;
                width: 320px;
            }

            .info-main {
                margin-top: 40px;
                @extend %font400;
                font-size: 13.8px;
                width: 300px;
                color: $gray-color;
            }

            .button-start {
                cursor: pointer;
                display: flex;
                width: 320px;
                height: 40px;
                margin-top: 40px;
                border-radius: 34.6283px;
                background-color: $lightblue-color;
                filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));

                .start {
                    padding-left: 110px;
                    padding-top: 8.5px;
                    @extend %white-text-btn;
                }

                .arrow {
                    background-image: url(./images/Arrow.svg);
                    @extend %background-settings;
                    width: 13.3px;
                    height: 7.5px;
                    margin-top: 16.5px;
                    margin-left: 10px;
                }
            }
        }

        .footage {
            left: 650px;
            background-image: url(./images/footage.svg);
            @extend %background-settings;
            position: absolute;
            width: 650px;
            height: 550px;
        }

        .wave {
            background-image: url(./images/wave.svg);
            @extend %background-settings;
            position: absolute;
            width: 950px;
            height: 170px;
            left: 0;
            top: 400px;
        }
    }
}


//login page
.login-header {
    margin: 35px 52px;

    .hs-logo {
        @extend %hs-logo;
    }
}

.login-page {
    .login-section {
        margin-left: 52px;
        display: flex;

        .login-bar {
            .title-back {
                @extend %font500;
                font-size: 50px;
            }

            .inputs-login {
                @extend %df-column;

                .login-email,
                .login-password {
                    width: 433px;
                    height: 47px;
                    margin-top: 30px;
                    @extend %input-settings;
                }
            }

            .button-login {
                width: 463px;
                height: 47px;
                margin-top: 50px;
                @extend %button2;

                .continue {
                    padding: 13px 190px;
                    @extend %white-text-btn;
                    font-size: 14px;
                }
            }

            .text-login {
                display: flex;
                justify-content: end;
                width: 460px;
                margin-top: 5px;

                p {
                    @extend %font400;
                    font-size: 12px;
                    color: $gray-color;
                }

                .create-account {
                    margin-left: 7px;
                    color: $lightblue-color;
                }
            }
        }

        .task-footage {
            @extend %task-footage;
            margin-left: 150px;
        }
    }
}

//registration page

.reg-page {
    .reg-section {
        margin-top: 30px;
        margin-left: 52px;
        display: flex;

        .reg-zone {
            .reg-text {
                display: flex;

                p {
                    @extend %font400;
                    font-size: 16px;
                    color: $gray-color;
                }

                .sign {
                    margin-left: 7px;
                    color: $lightblue-color;
                }
            }

            .welcome {
                display: flex;
                margin-top: 30px;
                width: 525px;

                p {
                    @extend %font500;
                    font-size: 45px;
                }

                .hs-logo {
                    @extend %hs-logo;
                    margin: auto;
                    height: 35px;
                }
            }

            .enjoy-text {
                @extend %font400;
                font-size: 12px;
                color: $gray-color;
            }

            .inputs-reg {
                @extend %df-column;
                input{
                    @extend %input-settings;
                    margin-top: 20px;
                    width: 440px;
                    height: 40px;
                }
            }
            .button-reg {
                @extend %button2;
                margin-top: 40px;
                width: 470px;
                height: 40px;
                p{
                    @extend %white-text-btn;
                    padding-top: 8.5px;
                    margin-left: 170px;
                    font-size: 14px;
                }
            }
        }
        .task-footage {
            @extend %task-footage;
            margin-left: 88px;
            margin-top: 68px;
        }
    }
}