@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.main-section {
    display: flex;
    margin: 35px 52px;
}

.reg-bar {
    margin-top: 120px;
}

.info-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    width: 320px;
}

.info-main {
    margin-top: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13.8px;
    width: 300px;
    color: #4A4A4AB8;
}

.button-start {
    cursor: pointer;
    display: flex;
    width: 320px;
    height: 40px;
    margin-top: 40px;
    border-radius: 34.6283px;
    background-color: #31C2E4;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.15));
}

.start {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    padding-left: 110px;
    padding-top: 8.5px;
    color: white;
}

.arrow {

    background-image: url(./assets/Arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 13.3px;
    height: 7.5px;
    margin-top: 16.5px;
    margin-left: 10px;
}

.footage {

    left: 600px;
    background-image: url(./assets/footage.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 650px;
    height: 550px;
}

.wave {
    background-image: url(./assets/wave.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 1050px;
    height: 178px;
    left: 0;
    top: 500px;
}